<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- 自定义的BeanPostProcessor -->
    <bean name="testBeanPostProcessor" class="org.example.test.TestBeanPostProcessor"/>

    <bean name="dog" class="org.example.test.Dog" init-method="initMethod" destroy-method="destoryMethod">
        <property name="name" value="dog_zhangsan"/>
        <property name="age" value="2"/>
    </bean>

</beans>
